%h1 Edit Kitten

= render partial: 'form', locals: { kitten: @kitten }

= link_to "Delete Kitten", @kitten, method: :delete, class: "btn btn-danger edit-delete",
                                    data: {confirm: "Are you sure?"}
