<h1>Events</h1>

<%= render partial: 'shared/some_events', locals: { events: @past_events,     type: 'Past events' } %>
<%= render partial: 'shared/some_events', locals: { events: @upcoming_events, type: 'Upcoming events' } %>
